.purchase_quotation_table table {
  max-width: 400px;
  margin-left: auto;
}
.purchase_quotation_table table th,
.purchase_quotation_table table td {
  border: 0px;
}
.searchResultsClass {
  display: block;
  position: absolute;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}
.searchResultsClass ul li {
  cursor: pointer;
}
